
<!-- Modal for diplaying popup for Vimeo video -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" [ngStyle]="{'background-color':'transparent', 'border':'none'}">
      
        <div [innerHtml]="iframe_html"></div>
      
    </div>

  </div>
</div>

<div>
  <h5>Preliminaries</h5>
  <small>-- Click 'Request Upload Access' to request an upload URL from Vimeo API using authenticated access token</small><br>
  <small>-- On success, a form will show up. Upload your file to this form </small><br>
  <small>-- Upon successful upload, you will be redirected to Vimeo page showing the URL</small><br>
  <small>-- Once back from that page, click 'Pull Uploaded Video From Vimeo' to get the latest uploaded file</small>

  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <button (click)="initiatePull()" class="btn btn-primary">Request Upload Access</button>
  </div>
  <div class="col-md-8">
    <div class="pull-right">

      <!-- THIS IS THE ANGULAR FORM WHICH IS DISABLED BECAUSE IT IS NOT SUBMITTING DATA TO HTTP POST REQ -->
      
        <!-- <form method="POST" #yourForm="ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          
              <input type="file" #fileupload [(ngModel)]="myFile" name="file_data" id="file" (change)="fileChange(fileupload.files)"/>
              <button [disabled]="btn_disable" class="btn btn-primary" type="submit" name="submit" value="submit">Submit</button>
        </form> -->

        <!-- HTML FORM INJECTED INTO ANGULAR APP RECIEVED FROM VIMEO -->
        <div [innerHtml] = "trustedUrl">

        </div>
        <button [disabled]="pull_upload" (click)="pullUploadedV()" class="btn btn-secondary">Pull Uploaded Video From Vimeo</button>
    </div>
  </div>
</div>




<div>
  
  <div *ngIf="items?.length > 0; else noItems">
      <hr>

    <div class="list-group" *ngFor="let item of items">
      <button (click)="playVideo($event, item); playModal()" class="list-group-item list-group-item-action mt-1 mb-1"><b>{{item.title}}</b> <small> - Click to play</small> <i class="fa fa-play pull-right pt-1"></i></button>
    </div>

    
  </div>

  <ng-template #noItems> 
    <hr>
    <h4>No Items Present</h4>

  </ng-template>
</div>