
<!-- Modal for diplaying popup for Vimeo video -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" [ngStyle]="{'background-color':'transparent', 'border':'none'}">
      
        <div [innerHtml]="iframe_html"></div>
      
    </div>

  </div>
</div>

<div>
  <h5>Dashboard</h5>
  <small>Please wait for some time for the video to get processed after it has been uploaded successfully <b>before clicking the buttons</b></small>
 
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <button [disabled]="init_pull" (click)="initiatePull()" class="btn btn-primary">Request Upload Access</button>
  </div>
  <div class="col-md-8">
    <div class="pull-right">

   

        <input [hidden]="upl_disable" type="file" (change)="fileChange($event)" placeholder="Upload file" >

      
     
    </div>
  </div>
</div>




<div>
  
  <div *ngIf="items?.length > 0; else noItems">
      <hr>

    <div class="list-group" *ngFor="let item of items">
      <button (click)="playVideo($event, item); playModal()" class="list-group-item list-group-item-action mt-1 mb-1"><b>{{item.title}}</b> <small> - Click to play</small> <i class="fa fa-play pull-right pt-1"></i></button>
    </div>

    
  </div>

  <ng-template #noItems> 
    <hr>
    <h4>No Items Present</h4>

  </ng-template>
</div>