
<div class="d-flex justify-content-center" >
    <img src=".,/../assets/img/vl.png" class="img img-fluid" style="height:100px"  alt="">
</div>
<br><br>
<h1 style="text-align:center">Welcome to Vimeo Video Upload App!</h1>

<p style="text-align:center">Click the below button to access the main dashboard. <br>
<b>But before that you must be logged in</b></p>

<div class="d-flex justify-content-center">
    <button class="btn btn-dark" routerLink="/dashboard">Go to Dashboard&nbsp;
      <i class="fa fa-rocket"></i>
    </button>
</div>




